
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 40% 98%;
    --foreground: 157 65% 10%;

    --card: 0 0% 100%;
    --card-foreground: 157 65% 10%;

    --popover: 0 0% 100%;
    --popover-foreground: 157 65% 10%;

    --primary: 142 70% 35%;
    --primary-foreground: 156 65% 98%;

    --secondary: 193 80% 94%;
    --secondary-foreground: 195 70% 35%;

    --muted: 142 12% 92%;
    --muted-foreground: 157 20% 40%;

    --accent: 195 70% 50%;
    --accent-foreground: 156 65% 98%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 210 40% 98%;

    --border: 142 30% 85%;
    --input: 142 30% 85%;
    --ring: 142 70% 35%;

    --radius: 1rem;

    --sidebar-background: 142 70% 16%;
    --sidebar-foreground: 156 65% 98%;
    --sidebar-primary: 142 65% 30%;
    --sidebar-primary-foreground: 156 65% 98%;
    --sidebar-accent: 142 30% 22%;
    --sidebar-accent-foreground: 156 65% 98%;
    --sidebar-border: 142 30% 22%;
    --sidebar-ring: 142 65% 30%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

@layer utilities {
  .risk-high {
    @apply bg-red-500 text-white;
  }
  .risk-medium {
    @apply bg-compOrange-500 text-white;
  }
  .risk-low {
    @apply bg-compGreen-500 text-white;
  }

  .card-hover {
    @apply transition-all duration-200 hover:shadow-card-hover hover:translate-y-[-2px];
  }

  .gradient-border {
    border-radius: var(--radius);
    position: relative;
  }
  
  .gradient-border::after {
    content: "";
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    border-radius: inherit;
    padding: 1px;
    background: linear-gradient(135deg, #3cc585, #2aa7ff);
    -webkit-mask: 
      linear-gradient(#fff 0 0) content-box, 
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
  }

  .bg-mesh-gradient {
    background-color: hsla(0, 0%, 100%, .4);
    background-image: 
      radial-gradient(at 80% 100%, hsla(142, 70%, 60%, 0.4) 0px, transparent 50%),
      radial-gradient(at 0% 0%, hsla(195, 70%, 60%, 0.3) 0px, transparent 50%);
  }
}
